In [1]:
import iris
import xarray as xr
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv('/data/users/hsteptoe/ibtracs.WP.list.v04r00.csv', na_values='NaT', skiprows=[1], parse_dates=True,infer_datetime_format=True,
                 usecols=['SID', 'SEASON', 'NAME', 'LAT', 'LON', 'ISO_TIME', 'LANDFALL', 'DIST2LAND', 'STORM_SPEED', 'STORM_DIR'], index_col=['SID', 'ISO_TIME'], )

/opt/scitools/environments/default/2021_03_18-1/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (161,162) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
df

                                   SEASON       NAME       LAT      LON  \
SID           ISO_TIME
1884177N17124 1884-06-24 16:00:00    1884  NOT_NAMED  16.50000  124.000
              1884-06-24 18:00:00    1884  NOT_NAMED  16.53730  123.800
              1884-06-24 21:00:00    1884  NOT_NAMED  16.59780  123.500
              1884-06-25 00:00:00    1884  NOT_NAMED  16.67060  123.200
              1884-06-25 03:00:00    1884  NOT_NAMED  16.76330  122.900
...                                   ...        ...       ...      ...
2021347N05142 2021-12-20 21:00:00    2021        RAI  20.57530  113.689
              2021-12-21 00:00:00    2021        RAI  21.00000  114.200
2021351N04104 2021-12-16 18:00:00    2021  NOT_NAMED   4.20000  104.000
              2021-12-16 21:00:00    2021  NOT_NAMED   4.17547  103.500
              2021-12-17 00:00:00    2021  NOT_NAMED   4.15063  103.000

                                   DIST2LAND LANDFALL STORM_SPEED STORM_DIR
SID           ISO_TIME
1884177N17124 1884-06-24 16:00:00        165      145           6       281
              1884-06-24 18:00:00        145      111           6       282
              1884-06-24 21:00:00        111       77           6       283
              1884-06-25 00:00:00         77       44           6       286
              1884-06-25 03:00:00         44       33           6       289
...                                      ...      ...         ...       ...
2021347N05142 2021-12-20 21:00:00        162      145          13        48
              2021-12-21 00:00:00        145                   13        48
2021351N04104 2021-12-16 18:00:00         56       11          10       267
              2021-12-16 21:00:00         11        0          10       267
              2021-12-17 00:00:00          0                   10       267

[240690 rows x 8 columns]

In [53]:
df[(df.SEASON == 2021) & (df.NAME == 'RAI')]

                                   SEASON NAME       LAT      LON LANDFALL  \
SID           ISO_TIME
2021347N05142 2021-12-13 00:00:00    2021  RAI   5.10000  141.700      836
              2021-12-13 03:00:00    2021  RAI   5.24454  141.243      831
              2021-12-13 06:00:00    2021  RAI   5.45797  140.737      839
              2021-12-13 09:00:00    2021  RAI   5.78301  140.151      853
              2021-12-13 12:00:00    2021  RAI   6.15741  139.529      875
...                                   ...  ...       ...      ...      ...
              2021-12-20 12:00:00    2021  RAI  19.16800  112.306      143
              2021-12-20 15:00:00    2021  RAI  19.70830  112.709      178
              2021-12-20 18:00:00    2021  RAI  20.14580  113.189      162
              2021-12-20 21:00:00    2021  RAI  20.57530  113.689      145
              2021-12-21 00:00:00    2021  RAI  21.00000  114.200

                                  STORM_SPEED STORM_DIR
SID           ISO_TIME
2021347N05142 2021-12-13 00:00:00          10       288
              2021-12-13 03:00:00          10       290
              2021-12-13 06:00:00          12       296
              2021-12-13 09:00:00          14       300
              2021-12-13 12:00:00          14       301
...                                       ...       ...
              2021-12-20 12:00:00          12        36
              2021-12-20 15:00:00          13        40
              2021-12-20 18:00:00          13        47
              2021-12-20 21:00:00          13        48
              2021-12-21 00:00:00          13        48

[65 rows x 7 columns]